.container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 16px;
  /* background: lightgray; */
}

.title {
  font-size: 24px;
}

.month_year {
  margin-top: 12px;
  margin-bottom: 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.each-stats {
  border: 1px solid black;
  padding: 10px 12px;
}

.stat-title {
  margin-bottom: 12px;
}

.count {
  font-size: 24px;
}

.email-list {
  width: 100%;
  margin-top: 40px;
}

table, th, td {  
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}